# statistics on the resolution of our experiment
## use dataframe to store the number of datapoints for each subsampling

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
data_dict = {}

In [4]:
count_2d= [82, 1, 9, 76, 35, 132, 32, 46, 3, 37, 0, 176, 126, 50]  # 805
data_dict ={'count_2d': count_2d} # need to hold something before use .update function

In [5]:
count_3d = [76, 0, 5, 65, 38, 108, 35, 44, 3, 36, 0, 160, 119, 50] # 739
data_dict.update({'count_3d': count_3d})

In [6]:
count_4d = [66, 0, 9, 67, 30, 126, 36, 55, 1, 40, 0, 169, 118, 57] # 774
data_dict.update({'count_4d': count_4d})

In [7]:
count_5d = [73, 1, 6, 71, 39, 120, 30, 45, 5, 46, 0, 153, 105, 60] # 754
data_dict.update({'count_5d': count_5d})

In [8]:
count_6d = [71, 1, 7, 75, 51, 119, 27, 55, 7, 45, 0, 125, 110, 52] # 745
data_dict.update({'count_6d': count_6d})

In [9]:
count_7d = [63, 0, 6, 72, 40, 122, 28, 58, 6, 44, 0, 118, 110, 56]   # 723
data_dict.update({'count_7d': count_7d})

In [10]:
count_8d =  [56, 0, 11, 74, 47, 109, 31, 49, 3, 35, 0, 125, 97, 55] #  692
data_dict.update({'count_8d': count_8d})

In [11]:
count_8d_DS = [56, 0, 11, 73, 44, 108, 29, 51, 1, 38, 0, 120, 97, 55] # 683
data_dict.update({'count_8d_DS': count_8d_DS})

In [12]:
count_9d = [58, 1, 9, 66, 44, 129, 28, 50, 5, 32, 0, 106, 91, 53]   # 672
data_dict.update({'count_9d': count_9d})
print(data_dict)

{'count_6d': [71, 1, 7, 75, 51, 119, 27, 55, 7, 45, 0, 125, 110, 52], 'count_2d': [82, 1, 9, 76, 35, 132, 32, 46, 3, 37, 0, 176, 126, 50], 'count_3d': [76, 0, 5, 65, 38, 108, 35, 44, 3, 36, 0, 160, 119, 50], 'count_8d': [56, 0, 11, 74, 47, 109, 31, 49, 3, 35, 0, 125, 97, 55], 'count_5d': [73, 1, 6, 71, 39, 120, 30, 45, 5, 46, 0, 153, 105, 60], 'count_7d': [63, 0, 6, 72, 40, 122, 28, 58, 6, 44, 0, 118, 110, 56], 'count_9d': [58, 1, 9, 66, 44, 129, 28, 50, 5, 32, 0, 106, 91, 53], 'count_4d': [66, 0, 9, 67, 30, 126, 36, 55, 1, 40, 0, 169, 118, 57], 'count_8d_DS': [56, 0, 11, 73, 44, 108, 29, 51, 1, 38, 0, 120, 97, 55]}

In [13]:
'''
base = 'count_'
col_name = []
for i in range(2,10):
    tmp = base+'%s' % i
    tmp = tmp+ 'd'
    col_name.append(tmp)
#print(col_name)

final = base +'8d_DS' # add one more from the dataset directly
col_name.append(final)
print(col_name)
'''

"\nbase = 'count_'\ncol_name = []\nfor i in range(2,10):\n    tmp = base+'%s' % i\n    tmp = tmp+ 'd'\n    col_name.append(tmp)\n#print(col_name)\n\nfinal = base +'8d_DS' # add one more from the dataset directly\ncol_name.append(final)\nprint(col_name)\n"

In [16]:
# let's make a index for
times = []
for i in range(2002, 2016):
    tmp= ('%d' % i) + '-11-01 to ' 
    tmp = tmp + ('%d' % (i+1)) + '-03-31'
    times.append(tmp)

print(times)

['2002-11-01 to 2003-03-31', '2003-11-01 to 2004-03-31', '2004-11-01 to 2005-03-31', '2005-11-01 to 2006-03-31', '2006-11-01 to 2007-03-31', '2007-11-01 to 2008-03-31', '2008-11-01 to 2009-03-31', '2009-11-01 to 2010-03-31', '2010-11-01 to 2011-03-31', '2011-11-01 to 2012-03-31', '2012-11-01 to 2013-03-31', '2013-11-01 to 2014-03-31', '2014-11-01 to 2015-03-31', '2015-11-01 to 2016-03-31']

In [17]:
data_fm= pd.DataFrame(data=data_dict, index = times)
data_fm

,count_2d,count_3d,count_4d,count_5d,count_6d,count_7d,count_8d,count_8d_DS,count_9d
2002-11-01 to 2003-03-31,82,76,66,73,71,63,56,56,58
2003-11-01 to 2004-03-31,1,0,0,1,1,0,0,0,1
2004-11-01 to 2005-03-31,9,5,9,6,7,6,11,11,9
2005-11-01 to 2006-03-31,76,65,67,71,75,72,74,73,66
2006-11-01 to 2007-03-31,35,38,30,39,51,40,47,44,44
2007-11-01 to 2008-03-31,132,108,126,120,119,122,109,108,129
2008-11-01 to 2009-03-31,32,35,36,30,27,28,31,29,28
2009-11-01 to 2010-03-31,46,44,55,45,55,58,49,51,50
2010-11-01 to 2011-03-31,3,3,1,5,7,6,3,1,5
2011-11-01 to 2012-03-31,37,36,40,46,45,44,35,38,32
2012-11-01 to 2013-03-31,0,0,0,0,0,0,0,0,0
2013-11-01 to 2014-03-31,176,160,169,153,125,118,125,120,106
2014-11-01 to 2015-03-31,126,119,118,105,110,110,97,97,91
2015-11-01 to 2016-03-31,50,50,57,60,52,56,55,55,53

In [18]:
data_fm.sum(axis=0)   # so the 2d resampling seems to bring us most data points.

count_2d       805
count_3d       739
count_4d       774
count_5d       754
count_6d       745
count_7d       723
count_8d       692
count_8d_DS    683
count_9d       672
dtype: int64